body {
    background-image:url(otc.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: auto;
    width: 80%;
    background-color:whitesmoke;
    padding: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    text-align: center;
}

.container {
    margin: auto;
    width: 80%;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.labelforcontact {
    display: block;
    padding-bottom: 5px;
    position: relative;
}

.input1 {
    position: absolute;
    left: 15%;
    width: 75%;
}

.submit {
    margin-top: 5px;
    width: initial;
    position: initial;
}

.container2 {
    margin: auto;
    width: 80%;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 7px;
}

textarea {
    margin-top: 10px;
    height: 100px;
    width: 75%;
}